<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="MAIL_SERVER" value=""/>
    <add key="MAIL_PORT" value="587"/>
    <add key="MAIL_TIMEOUT" value="10"/>
    <add key="MAIL_USER" value=""/>
    <add key="MAIL_PASSWORD" value=""/>
    <add key="MAIL_USETLS" value="true"/>
    <add key="MAIL_USEHTML" value="true"/>
    <add key="PROXY_USE" value="false"/>
    <add key="PROXY_SERVER" value=""/>
    <add key="PROXY_PORT" value="8080"/>
    <add key="PROXY_UID" value=""/>
    <add key="PROXY_PWD" value=""/>
    <add key="LOG_TO_FILE" value="false"/>
    <add key="LOG_NAME" value="bssmtpclient.log"/>
    <add key="LOG_PATH" value=""/>
  </appSettings>
</configuration>
